{
  "admin_topic": "altmon-admin",
  "data_topic": "altmon-data",
  "bootstrap_servers": ["10.10.20.137:9092"],
  "VNFs": {
    "MME": {
      "metrics":{
        "CPU": {
          "mon_period": 10,
          "upper_threshold": 80
        },
        "RAM": {
          "mon_period": 10,
          "lower_threshold": 5,
          "upper_threshold": 40
        }
      }
    },
    "HSS": {
      "metrics": {
        "CPU": {
          "mon_period": 10,
          "upper_threshold": 50
        },
        "RAM": {
          "mon_period": 10,
          "lower_threshold": 5,
          "upper_threshold": 40
        }
      }
    }
  }
}