{
  "vnf_name": "MME",
  "admin_topic": "altmon-admin",
  "data_topic": "altmon-data",
  "bootstrap_servers": ["10.10.20.137:9092"],
  "VNFs": {
    "MME": {
      "metrics":{
        "CPU": {
          "frequency": 10
        },
        "RAM": {
          "frequency": 10
        }
      }
    },
    "HSS": {
      "metrics": {
        "CPU": {
          "frequency": 10
        },
        "RAM": {
          "frequency": 10
        }
      }
    }
  }
}