{
  "kafka_ext": ["10.10.20.137:9092"],
  "kafka_osm": ["kafka:9092"],
  "ext_admin_topic": "altmon-admin",
  "ext_data_topic": "altmon-data",
  "osm_mon_config_topic": "osm-mon-config",
  "osm_mon_export_topic": "osm-mon-export",
  "VNFs": {
    "MME": {
      "metrics":{
        "CPU": {
          "mon_period": 10,
          "upper_threshold": 80
        },
        "RAM": {
          "mon_period": 10,
          "lower_threshold": 5,
          "upper_threshold": 40
        }
      }
    },
    "HSS": {
      "metrics": {
        "CPU": {
          "mon_period": 10,
          "upper_threshold": 50
        },
        "RAM": {
          "mon_period": 10,
          "lower_threshold": 5,
          "upper_threshold": 40
        }
      }
    }
  }
}
